<style type="text/css">
	.blk{
		width: 25%;
		height: auto;
		color: #fff;
		text-align: center;
		margin: 10px;
}
</style>

<h3>
Soft Intelligence ရဲ့ကိုင်တွယ်ဖူးသော Page / Site များရဲ့ အချက်အလက်များနဲ့ ကျွန်တော်တို့ရဲ့အတွေ့အကြုံ လုပ်နိုင်စွမ်းကိုအခြေခံပြီးတွက်ချက်ထားတဲ့ ကိန်းဂဏန်းများပဲဖြစ်ပါတယ်။	
</h3>

<h2>Estimated Facebook Insight For First Year</h2>
<div style="width: 100%; height: auto; justify-content: center; display: flex; position: relative; margin: 30px; ">

<div class="blk" style="background-color:  #228B22;">
	<p> Total Reach</p>
	<h2>18283K</h2>
</div>
<div class="blk" style="background-color:  #FF7F50;">
	<p> Total Engagement</p>
	<h2>8522K</h2>
</div>
<div class="blk" style="background-color:  #008080;">
	<p> Total Page Like</p>
	<h2>212K</h2>
</div>

	
</div>

<h2>Estimated Google Analytics Datas For First Year</h2>
<div style="width: 100%; height: auto; justify-content: center; display: flex; position: relative; margin: 30px; ">

<div class="blk" style="background-color:  #D3D3D3; color: Black;">
	<p> Total Users</p>
	<h2>26388</h2>
</div>
<div class="blk" style="background-color:  #D3D3D3; color: Black;">
	<p> Total Sessions</p>
	<h2>35337</h2>
</div>
<div class="blk" style="background-color:  #D3D3D3; color: Black;">
	<p> Average Bounce Rate</p>
	<h2>36%</h2>
</div>

	
</div>